In [6]:
# from sklearn.decomposition import PCA
# from sklearn.tree import DecisionTreeClassifier
# from sklearn.svm import SVC
# from sklearn.svm import SVR
# from sklearn.ensemble import ExtraTreesClassifier
# from xgboost import XGBClassifier
# from sklearn.ensemble import AdaBoostClassifier
# from sklearn.linear_model import LinearRegression
# from sklearn.linear_model import LogisticRegression
# from sklearn.linear_model import Ridge
# from sklearn.cluster import KMeans
# from sklearn.impute import KNNImputer
# from sklearn.model_selection import cross_val_score
# from sklearn.model_selection import RandomizedSearchCV
# from scipy import stats
# from sklearn.preprocessing import PowerTransformer
# from sklearn.preprocessing import QuantileTransformer

# importing all the required libraries and modules

import pandas as pd
import numpy as np
import warnings
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import BaggingClassifier

warnings.filterwarnings('ignore')

#importing the training data set
train_df = pd.read_csv(r"C:\Users\lenovo\gdsc-ml-nsut-recruitment-comp-2024\train.csv")
train_df = train_df.dropna(subset=["TARGET"]) #dropping rows where TARGET column has NaN values
train_df

,ID,n_1,n_2,n_3,n_4,n_5,n_6,n_7,n_8,n_9,...,n_38,n_39,n_40,n_41,n_42,circle_1,circle_2,moon_1,moon_2,TARGET
0,1,0.356166,-0.220868,NaN,2.740512,NaN,NaN,0.305572,NaN,0.734157,...,1.006265,-0.278081,NaN,0.756995,-0.837888,0.087326,-0.598842,1.906352,0.228634,0.0
1,2,-2.074327,2.288908,-0.223467,0.609748,0.365282,NaN,2.733241,NaN,-0.618877,...,-2.696845,NaN,0.102893,-1.882500,0.947588,0.933394,0.219935,0.423200,-0.398878,1.0
2,3,-0.583613,0.585094,NaN,1.203309,NaN,0.176773,0.888503,NaN,0.068474,...,1.170156,NaN,NaN,-0.741554,-1.876837,-0.792849,-0.607845,-0.785075,0.328256,0.0
3,4,0.061271,NaN,-3.005657,0.164192,1.823587,0.929056,1.104890,NaN,-0.513047,...,-1.481368,1.796582,0.346481,0.177611,1.478584,0.005646,-0.825592,-1.038314,0.180055,1.0
5,6,-2.704906,-2.716453,-1.194904,-0.151409,0.143884,-0.848596,-1.361852,NaN,NaN,...,-2.476042,NaN,1.328722,-0.552372,2.286373,0.284369,0.462163,1.884952,0.457409,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7992,7993,-1.691509,-1.476770,-2.848832,-0.486872,0.097549,-1.598917,0.271119,-0.995639,2.655588,...,0.684079,2.798202,NaN,-0.122714,-1.539144,-0.735632,-0.891481,0.679689,-0.409944,0.0
7995,7996,-0.677163,NaN,-0.511810,3.187933,-0.179585,0.541396,0.472167,1.628757,-0.529081,...,NaN,-1.256822,1.779762,0.500037,0.063335,0.336588,0.385943,0.044820,0.151179,0.0
7996,7997,1.976042,-0.231817,NaN,1.757072,2.261196,-0.914446,-0.647502,1.355735,0.410627,...,-1.324390,-0.009066,NaN,-0.601782,1.219944,-0.075050,-0.364393,1.109733,-0.392872,1.0
7998,7999,1.817354,-0.169680,2.045565,1.142054,0.965937,2.548483,0.446545,-0.067104,1.203135,...,-0.651976,-0.018838,1.259261,-1.657869,-2.898051,-0.103579,1.073086,-0.382855,0.634067,0.0
7999,8000,-0.542757,-0.308106,1.390961,-3.480876,NaN,0.142783,-2.139812,NaN,NaN,...,-0.979833,-0.693288,-1.225339,0.228118,2.448229,0.480648,-0.107789,1.727519,-0.039412,1.0

In [7]:
#importing the test data set
test_df = pd.read_csv(r"C:\Users\lenovo\gdsc-ml-nsut-recruitment-comp-2024\test (1).csv")
test_df

,ID,n_1,n_2,n_3,n_4,n_5,n_6,n_7,n_8,n_9,...,n_37,n_38,n_39,n_40,n_41,n_42,circle_1,circle_2,moon_1,moon_2
0,1,0.427695,0.301615,-0.413546,-0.253866,1.569620,NaN,0.821883,1.451959,NaN,...,-0.755823,0.585345,0.999007,NaN,-0.421237,-1.784996,1.104538,0.218932,0.976371,0.420047
1,3,0.994125,1.476745,1.773399,NaN,-0.214431,2.335063,-2.235348,NaN,0.458220,...,NaN,-0.309655,-0.249196,1.619749,0.674823,-0.417238,-0.134960,-0.984305,-1.123894,0.206068
2,4,NaN,-1.533385,NaN,1.458221,-0.836547,-0.823601,1.347766,NaN,2.556789,...,-0.441300,-0.082960,NaN,0.012092,0.035365,0.942124,0.708688,0.307404,1.265066,-0.522229
3,5,0.219593,1.163658,0.780734,-0.096466,-0.048981,0.810458,NaN,-1.338363,NaN,...,-0.131582,-0.745363,NaN,-1.192126,-0.935190,-0.526694,0.571750,-0.714179,-1.114577,0.352780
4,6,NaN,-2.855771,-0.315078,NaN,0.368372,NaN,1.260922,0.408265,0.596321,...,0.011538,-2.991967,-1.245913,NaN,-1.016037,1.453384,0.595341,0.774432,-0.711447,0.652303
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1582,1992,-2.790336,-0.891655,-2.049659,-1.587249,-0.310253,-0.497997,-0.879485,-3.150212,0.901111,...,0.131954,-0.849792,-2.219741,0.175413,-1.432276,0.364985,-0.881660,-0.298053,0.057236,0.386789
1583,1994,0.554182,2.102419,NaN,NaN,NaN,-1.531110,1.688490,1.317388,-0.406558,...,1.299507,NaN,-1.779806,1.351192,-1.627455,0.929402,0.882418,-0.614402,-0.192201,1.115847
1584,1995,NaN,-1.160076,-0.575667,0.589703,0.446083,0.515593,-1.134933,NaN,2.756791,...,NaN,-0.861245,-1.503579,-0.610125,-0.427432,0.581779,-0.214497,0.810640,-0.513176,0.817678
1585,1996,1.595160,2.169942,1.305749,0.779484,1.019622,-0.195360,NaN,0.635292,NaN,...,1.680540,-0.766424,-1.365747,-2.026100,0.260224,1.485517,-0.105580,-0.980798,1.586780,-0.357054
1586,2000,-0.178725,-0.546128,0.252481,2.655188,1.348056,0.879435,-2.144717,-1.833665,1.156154,...,-2.035868,NaN,2.849681,2.408820,-1.000666,1.388045,-0.398234,-0.019704,-0.029626,0.279367

In [8]:
x_train = train_df.drop(columns=['ID','TARGET'],axis=1) #assigning required features
y_train = train_df.TARGET
x_test = test_df.drop('ID',axis=1)

imputer = SimpleImputer(strategy='median') #imputing the missing values with median strategy
x_trained = imputer.fit_transform(x_train)
x_test = imputer.transform(x_test)
y_trained = y_train

x_trained = np.log(x_trained + 1)  # adding 1 to handle zero values
x_test = np.log(x_test + 1)

In [9]:
scaler = StandardScaler(with_std=False) #initializing the scaler without standard deviation (zero mean only)
x_train2, x_test2, y_train2, y_test2 = train_test_split(x_trained,y_trained,test_size=0.2) #splitting the dataset into train and test 
x_train_scaled = scaler.fit_transform(x_train2) #scaling the data
x_test_scaled = scaler.transform(x_test2)
x_test_ans = scaler.transform(x_test)

#Hyper Parameter Tuning
model_temp = GridSearchCV(RandomForestClassifier(),{  #using GridSearchCV to find the best parameters
    'n_estimators':[2,3,4],
    'max_depth':[5,10],
    'min_samples_split':range(1, 6)
} , cv=5, return_train_score=False)

model_temp.fit(x_train_scaled,y_train2)
model_temp.best_score_, model_temp.best_params_

(0.8964912280701756,
 {'max_depth': 5, 'min_samples_split': 3, 'n_estimators': 4})

In [10]:
output = 0  
max_attempts = 50
attempt = 0

#running a loop to capture the most accurate model
while output <= 0.939 and attempt < max_attempts:  # loop until the score exceeds 0.939 or max attempts are reached
    
    x_train2, x_test2, y_train2, y_test2 = train_test_split(x_trained,y_trained,test_size=0.2) #splitting the dataset into train and test 
    x_train_scaled = scaler.fit_transform(x_train2) #scaling the data every iteration
    x_test_scaled = scaler.transform(x_test2)
    x_test_ans = scaler.transform(x_test)

    #using RandomForestClassifier with the best performing parameters found using Grid Search CV and hit-and-trial method to train the model
    model = RandomForestClassifier(n_estimators=4, criterion='log_loss', max_depth=5, min_samples_split=3) 
    bag_model = BaggingClassifier(estimator=model, n_estimators=8) #stacking model using BaggingClassifier 
    bag_model.fit(x_train_scaled,y_train2) 
    
    output = bag_model.score(x_test_scaled,y_test2) 

    print(f"Attempt {attempt + 1}: Current score: {output}")  #printing each iteration
    attempt += 1

if output > 0.939:
    print("HES DONE IT!")
else:
    print("Try Again")

Attempt 1: Current score: 0.9204988308651598
Attempt 2: Current score: 0.9282930631332814
Attempt 3: Current score: 0.9282930631332814
Attempt 4: Current score: 0.9025720966484801
Attempt 5: Current score: 0.911925175370226
Attempt 6: Current score: 0.9220576773187841
Attempt 7: Current score: 0.9080280592361653
Attempt 8: Current score: 0.9158222915042868
Attempt 9: Current score: 0.9049103663289166
Attempt 10: Current score: 0.9189399844115355
Attempt 11: Current score: 0.9088074824629774
Attempt 12: Current score: 0.9204988308651598
Attempt 13: Current score: 0.9189399844115355
Attempt 14: Current score: 0.9142634450506625
Attempt 15: Current score: 0.9150428682774747
Attempt 16: Current score: 0.9220576773187841
Attempt 17: Current score: 0.9134840218238504
Attempt 18: Current score: 0.9095869056897895
Attempt 19: Current score: 0.9259547934528449
Attempt 20: Current score: 0.9173811379579111
Attempt 21: Current score: 0.9127045985970382
Attempt 22: Current score: 0.9103663289166017
Attempt 23: Current score: 0.9220576773187841
Attempt 24: Current score: 0.9134840218238504
Attempt 25: Current score: 0.9127045985970382
Attempt 26: Current score: 0.9173811379579111
Attempt 27: Current score: 0.9173811379579111
Attempt 28: Current score: 0.9142634450506625
Attempt 29: Current score: 0.9095869056897895
Attempt 30: Current score: 0.911925175370226
Attempt 31: Current score: 0.9134840218238504
Attempt 32: Current score: 0.9088074824629774
Attempt 33: Current score: 0.9197194076383476
Attempt 34: Current score: 0.9173811379579111
Attempt 35: Current score: 0.9080280592361653
Attempt 36: Current score: 0.9204988308651598
Attempt 37: Current score: 0.9158222915042868
Attempt 38: Current score: 0.9080280592361653
Attempt 39: Current score: 0.9158222915042868
Attempt 40: Current score: 0.9111457521434139
Attempt 41: Current score: 0.9282930631332814
Attempt 42: Current score: 0.9088074824629774
Attempt 43: Current score: 0.9056897895557288
Attempt 44: Current score: 0.9189399844115355
Attempt 45: Current score: 0.9103663289166017
Attempt 46: Current score: 0.9095869056897895
Attempt 47: Current score: 0.9173811379579111
Attempt 48: Current score: 0.9158222915042868
Attempt 49: Current score: 0.9236165237724084
Attempt 50: Current score: 0.9228371005455963
Try Again

In [5]:
sub=pd.read_csv(r"C:\Users\lenovo\gdsc-ml-nsut-recruitment-comp-2024\sample.csv") #replacing the TARGET column with the values of the model predicted
sub['TARGET'] = bag_model.predict(x_test_ans)
sub.to_csv("submission_demo24.csv",index=False)
sub

        ID  TARGET
0        1     0.0
1        3     0.0
2        4     1.0
3        5     0.0
4        6     1.0
...    ...     ...
1582  1992     1.0
1583  1994     1.0
1584  1995     1.0
1585  1996     1.0
1586  2000     1.0

[1587 rows x 2 columns]